.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

$spacers: (
  1: 15px,
  2: 24px,
  3: 30px,
  4: 40px,
  5: 48px,
  6: 100px,
);

@each $spacer in $spacers {
  @each $size, $value in $spacer {
    .mb-#{$size} {
      margin-bottom: $value;
    }
  }
}
